
<app-bar></app-bar>
    <h1>RESERVAR</h1>

<div class="wrapper">
    
    

    <div class="align">

            <br>
            <br>
        <h4>{{movie.Title}}</h4>

        <br>
        <br>
        <h4>Nombre completo:</h4>
        <input type="text" name="" id="name">

        <br>
        <br>

        <h4>Telefono:</h4>
        <input type="text" name="" id="fono">
        <br>
        <br>
    
        <h4>Cantidad de boletos:</h4>
        <input type="text" name="" id="tickets">
        
        <br>
        <br>

        <div id="btn" (click)="samuelito()" routerLink=""><p>¡Reservar!</p></div>

        <br>
        <br>
    </div>


</div>






